<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="pl.diecezja.zr">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_round_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".DrogaKrzyzowaDzien13"></activity>
        <activity android:name=".DrogaKrzyzowaDzien12" />
        <activity android:name=".DrogaKrzyzowaDzien11" />
        <activity android:name=".DrogaKrzyzowaDzien10" />
        <activity android:name=".DrogaKrzyzowaDzien9" />
        <activity android:name=".DrogaKrzyzowaDzien8" />
        <activity android:name=".DrogaKrzyzowaDzien7" />
        <activity android:name=".DrogaKrzyzowaDzien6" />
        <activity android:name=".DrogaKrzyzowaDzien5" />
        <activity android:name=".DrogaKrzyzowaDzien4" />
        <activity android:name=".DrogaKrzyzowaDzien3" />
        <activity android:name=".DrogaKrzyzowaDzien2" />
        <activity android:name=".DrogaKrzyzowaDzien1" />
        <activity android:name=".DrogaKrzyzowaWstep" />
        <activity android:name=".DrogaKrzyzowa" />
        <activity android:name=".CierniemUkoronowanieDzien30" />
        <activity android:name=".CierniemUkoronowanieDzien29" />
        <activity android:name=".CierniemUkoronowanieDzien28" />
        <activity android:name=".CierniemUkoronowanieDzien27" />
        <activity android:name=".CierniemUkoronowanieDzien26" />
        <activity android:name=".CierniemUkoronowanieDzien25" />
        <activity android:name=".CierniemUkoronowanieDzien24" />
        <activity android:name=".CierniemUkoronowanieDzien23" />
        <activity android:name=".CierniemUkoronowanieDzien22" />
        <activity android:name=".CierniemUkoronowanieDzien21" />
        <activity android:name=".CierniemUkoronowanieDzien20" />
        <activity android:name=".CierniemUkoronowanieDzien19" />
        <activity android:name=".CierniemUkoronowanieDzien18" />
        <activity android:name=".CierniemUkoronowanieDzien17" />
        <activity android:name=".CierniemUkoronowanieDzien16" />
        <activity android:name=".CierniemUkoronowanieDzien15" />
        <activity android:name=".CierniemUkoronowanieDzien14" />
        <activity android:name=".CierniemUkoronowanieDzien13" />
        <activity android:name=".CierniemUkoronowanieDzien12" />
        <activity android:name=".CierniemUkoronowanieDzien11" />
        <activity android:name=".CierniemUkoronowanieDzien10" />
        <activity android:name=".CierniemUkoronowanieDzien9" />
        <activity android:name=".CierniemUkoronowanieDzien8" />
        <activity android:name=".CierniemUkoronowanieDzien7" />
        <activity android:name=".CierniemUkoronowanieDzien6" />
        <activity android:name=".CierniemUkoronowanieDzien5" />
        <activity android:name=".CierniemUkoronowanieDzien4" />
        <activity android:name=".CierniemUkoronowanieDzien3" />
        <activity android:name=".CierniemUkoronowanieDzien2" />
        <activity android:name=".CierniemUkoronowanieDzien1" />
        <activity android:name=".CierniemUkoronowanieWstep" />
        <activity android:name=".CierniemUkoronowanie" />
        <activity android:name=".BiczowanieDzien30" />
        <activity android:name=".BiczowanieDzien29" />
        <activity android:name=".BiczowanieDzien28" />
        <activity android:name=".BiczowanieDzien27" />
        <activity android:name=".BiczowanieDzien26" />
        <activity android:name=".BiczowanieDzien25" />
        <activity android:name=".BiczowanieDzien24" />
        <activity android:name=".BiczowanieDzien23" />
        <activity android:name=".BiczowanieDzien22" />
        <activity android:name=".BiczowanieDzien21" />
        <activity android:name=".BiczowanieDzien20" />
        <activity android:name=".BiczowanieDzien19" />
        <activity android:name=".BiczowanieDzien18" />
        <activity android:name=".BiczowanieDzien17" />
        <activity android:name=".BiczowanieDzien16" />
        <activity android:name=".BiczowanieDzien15" />
        <activity android:name=".BiczowanieDzien14" />
        <activity android:name=".BiczowanieDzien13" />
        <activity android:name=".BiczowanieDzien12" />
        <activity android:name=".BiczowanieDzien11" />
        <activity android:name=".BiczowanieDzien10" />
        <activity android:name=".BiczowanieDzien9" />
        <activity android:name=".BiczowanieDzien8" />
        <activity android:name=".BiczowanieDzien7" />
        <activity android:name=".BiczowanieDzien6" />
        <activity android:name=".BiczowanieDzien5" />
        <activity android:name=".BiczowanieDzien4" />
        <activity android:name=".BiczowanieDzien3" />
        <activity android:name=".BiczowanieDzien2" />
        <activity android:name=".BiczowanieDzien1" />
        <activity android:name=".BiczowanieWstep" />
        <activity android:name=".Biczowanie" />
        <activity android:name=".OgrojecDzien30" />
        <activity android:name=".OgrojecDzien29" />
        <activity android:name=".OgrojecDzien28" />
        <activity android:name=".OgrojecDzien27" />
        <activity android:name=".OgrojecDzien26" />
        <activity android:name=".OgrojecDzien25" />
        <activity android:name=".OgrojecDzien24" />
        <activity android:name=".OgrojecDzien23" />
        <activity android:name=".OgrojecDzien22" />
        <activity android:name=".OgrojecDzien21" />
        <activity android:name=".OgrojecDzien20" />
        <activity android:name=".OgrojecDzien19" />
        <activity android:name=".OgrojecDzien18" />
        <activity android:name=".OgrojecDzien17" />
        <activity android:name=".OgrojecDzien16" />
        <activity android:name=".OgrojecDzien15" />
        <activity android:name=".OgrojecDzien14" />
        <activity android:name=".OgrojecDzien13" />
        <activity android:name=".OgrojecDzien12" />
        <activity android:name=".OgrojecDzien11" />
        <activity android:name=".OgrojecDzien10" />
        <activity android:name=".OgrojecDzien9" />
        <activity android:name=".OgrojecDzien8" />
        <activity android:name=".OgrojecDzien7" />
        <activity android:name=".OgrojecDzien6" />
        <activity android:name=".OgrojecDzien5" />
        <activity android:name=".OgrojecDzien4" />
        <activity android:name=".OgrojecDzien3" />
        <activity android:name=".OgrojecDzien2" />
        <activity android:name=".OgrojecDzien1" />
        <activity android:name=".OgrojecWstep" />
        <activity android:name=".Ogrojec" />
        <activity android:name=".Bolesne" />
        <activity android:name=".WieczernikDzien30" />
        <activity android:name=".WieczernikDzien29" />
        <activity android:name=".WieczernikDzien28" />
        <activity android:name=".WieczernikDzien27" />
        <activity android:name=".WieczernikDzien26" />
        <activity android:name=".WieczernikDzien25" />
        <activity android:name=".WieczernikDzien24" />
        <activity android:name=".WieczernikDzien23" />
        <activity android:name=".WieczernikDzien22" />
        <activity android:name=".WieczernikDzien21" />
        <activity android:name=".WieczernikDzien20" />
        <activity android:name=".WieczernikDzien19" />
        <activity android:name=".WieczernikDzien18" />
        <activity android:name=".WieczernikDzien17" />
        <activity android:name=".WieczernikDzien16" />
        <activity android:name=".WieczernikDzien15" />
        <activity android:name=".WieczernikDzien14" />
        <activity android:name=".WieczernikDzien13" />
        <activity android:name=".WieczernikDzien12" />
        <activity android:name=".WieczernikDzien11" />
        <activity android:name=".WieczernikDzien10" />
        <activity android:name=".WieczernikDzien9" />
        <activity android:name=".WieczernikDzien8" />
        <activity android:name=".WieczernikDzien7" />
        <activity android:name=".WieczernikDzien6" />
        <activity android:name=".WieczernikDzien5" />
        <activity android:name=".WieczernikDzien4" />
        <activity android:name=".WieczernikDzien3" />
        <activity android:name=".WieczernikDzien2" />
        <activity android:name=".WieczernikDzien1" />
        <activity android:name=".Wieczernik_Wstep" />
        <activity android:name=".Wieczernik" />
        <activity android:name=".TaborDzien30" />
        <activity android:name=".TaborDzien29" />
        <activity android:name=".TaborDzien28" />
        <activity android:name=".TaborDzien27" />
        <activity android:name=".TaborDzien26" />
        <activity android:name=".TaborDzien25" />
        <activity android:name=".TaborDzien24" />
        <activity android:name=".TaborDzien23" />
        <activity android:name=".TaborDzien22" />
        <activity android:name=".TaborDzien21" />
        <activity android:name=".TaborDzien20" />
        <activity android:name=".TaborDzien19" />
        <activity android:name=".TaborDzien18" />
        <activity android:name=".TaborDzien17" />
        <activity android:name=".TaborDzien16" />
        <activity android:name=".TaborDzien15" />
        <activity android:name=".TaborDzien14" />
        <activity android:name=".TaborDzien13" />
        <activity android:name=".TaborDzien12" />
        <activity android:name=".TaborDzien11" />
        <activity android:name=".TaborDzien10" />
        <activity android:name=".TaborDzien9" />
        <activity android:name=".TaborDzien8" />
        <activity android:name=".TaborDzien7" />
        <activity android:name=".TaborDzien6" />
        <activity android:name=".TaborDzien5" />
        <activity android:name=".TaborDzien4" />
        <activity android:name=".TaborDzien3" />
        <activity android:name=".TaborDzien2" />
        <activity android:name=".TaborDzien1" />
        <activity android:name=".TaborWstep" />
        <activity android:name=".Tabor" />
        <activity android:name=".GalileaDzien30" />
        <activity android:name=".GalileaDzien29" />
        <activity android:name=".GalileaDzien28" />
        <activity android:name=".GalileaDzien27" />
        <activity android:name=".GalileaDzien26" />
        <activity android:name=".GalileaDzien25" />
        <activity android:name=".GalileaDzien24" />
        <activity android:name=".GalileaDzien23" />
        <activity android:name=".GalileaDzien22" />
        <activity android:name=".GalileaDzien21" />
        <activity android:name=".GalileaDzien20" />
        <activity android:name=".GalileaDzien18" />
        <activity android:name=".GalileaDzien19" />
        <activity android:name=".GalileaDzien17" />
        <activity android:name=".GalileaDzien16" />
        <activity android:name=".GalileaDzien15" />
        <activity android:name=".GalileaDzien14" />
        <activity android:name=".GalileaDzien13" />
        <activity android:name=".GalileaDzien12" />
        <activity android:name=".GalileaDzien11" />
        <activity android:name=".GalileaDzien10" />
        <activity android:name=".GalileaDzien9" />
        <activity android:name=".GalileaDzien8" />
        <activity android:name=".GalileaDzien7" />
        <activity android:name=".GalileaDzien6" />
        <activity android:name=".GalileaDzien5" />
        <activity android:name=".GalileaDzien4" />
        <activity android:name=".GalileaDzien3" />
        <activity android:name=".GalileaDzien2" />
        <activity android:name=".GalileaDzien1" />
        <activity android:name=".GalileaWstep" />
        <activity android:name=".Galilea" />
        <activity android:name=".KanaDzien30" />
        <activity android:name=".KanaDzien29" />
        <activity android:name=".KanaDzien28" />
        <activity android:name=".KanaDzien27" />
        <activity android:name=".KanaDzien26" />
        <activity android:name=".KanaDzien25" />
        <activity android:name=".KanaDzien24" />
        <activity android:name=".KanaDzien23" />
        <activity android:name=".KanaDzien22" />
        <activity android:name=".KanaDzien21" />
        <activity android:name=".KanaDzien20" />
        <activity android:name=".KanaDzien19" />
        <activity android:name=".KanaDzien18" />
        <activity android:name=".KanaDzien17" />
        <activity android:name=".KanaDzien16" />
        <activity android:name=".KanaDzien15" />
        <activity android:name=".KanaDzien14" />
        <activity android:name=".KanaDzien13" />
        <activity android:name=".KanaDzien12" />
        <activity android:name=".KanaDzien11" />
        <activity android:name=".KanaDzien10" />
        <activity android:name=".KanaDzien9" />
        <activity android:name=".KanaDzien8" />
        <activity android:name=".KanaDzien7" />
        <activity android:name=".KanaDzien6" />
        <activity android:name=".KanaDzien5" />
        <activity android:name=".KanaDzien4" />
        <activity android:name=".KanaDzien3" />
        <activity android:name=".KanaDzien2" />
        <activity android:name=".KanaDzien1" />
        <activity android:name=".KanaWstep" />
        <activity android:name=".Kana" />
        <activity android:name=".JordanDzien30" />
        <activity android:name=".JordanDzien29" />
        <activity android:name=".JordanDzien28" />
        <activity android:name=".JordanDzien27" />
        <activity android:name=".JordanDzien26" />
        <activity android:name=".JordanDzien25" />
        <activity android:name=".JordanDzien24" />
        <activity android:name=".JordanDzien23" />
        <activity android:name=".JordanDzien22" />
        <activity android:name=".JordanDzien21" />
        <activity android:name=".JordanDzien20" />
        <activity android:name=".JordanDzien19" />
        <activity android:name=".JordanDzien18" />
        <activity android:name=".JordanDzien17" />
        <activity android:name=".JordanDzien16" />
        <activity android:name=".JordanDzien15" />
        <activity android:name=".JordanDzien14" />
        <activity android:name=".JordanDzien13" />
        <activity android:name=".JordanDzien12" />
        <activity android:name=".JordanDzien11" />
        <activity android:name=".JordanDzien10" />
        <activity android:name=".JordanDzien9" />
        <activity android:name=".JordanDzien8" />
        <activity android:name=".JordanDzien7" />
        <activity android:name=".JordanDzien6" />
        <activity android:name=".JordanDzien5" />
        <activity android:name=".JordanDzien4" />
        <activity android:name=".JordanDzien3" />
        <activity android:name=".JordanDzien2" />
        <activity android:name=".JordanDzien1" />
        <activity android:name=".JordanWstep" />
        <activity android:name=".Jordan" />
        <activity android:name=".Swiatla" />
        <activity android:name=".RadosneRekolekcje" />
        <activity android:name=".OdnalezienieDzien30" />
        <activity android:name=".OdnalezienieDzien29" />
        <activity android:name=".OdnalezienieDzien28" />
        <activity android:name=".OdnalezienieDzien27" />
        <activity android:name=".OdnalezienieDzien26" />
        <activity android:name=".OdnalezienieDzien25" />
        <activity android:name=".OdnalezienieDzien24" />
        <activity android:name=".OdnalezienieDzien23" />
        <activity android:name=".OdnalezienieDzien22" />
        <activity android:name=".OdnalezienieDzien21" />
        <activity android:name=".OdnalezienieDzien20" />
        <activity android:name=".OdnalezienieDzien19" />
        <activity android:name=".OdnalezienieDzien18" />
        <activity android:name=".OdnalezienieDzien17" />
        <activity android:name=".OdnalezienieDzien16" />
        <activity android:name=".OdnalezienieDzien15" />
        <activity android:name=".OdnalezienieDzien14" />
        <activity android:name=".OdnalezienieDzien13" />
        <activity android:name=".OdnalezienieDzien12" />
        <activity android:name=".OdnalezienieDzien11" />
        <activity android:name=".OdnalezienieDzien10" />
        <activity android:name=".OdnalezienieDzien9" />
        <activity android:name=".OdnalezienieDzien8" />
        <activity android:name=".OdnalezienieDzien7" />
        <activity android:name=".OdnalezienieDzien6" />
        <activity android:name=".OdnalezienieDzien5" />
        <activity android:name=".OdnalezienieDzien4" />
        <activity android:name=".OdnalezienieDzien3" />
        <activity android:name=".OdnalezienieDzien2" />
        <activity android:name=".OdnalezienieDzien1" />
        <activity android:name=".OdnalezienieWstep" />
        <activity android:name=".Odnalezienie" />
        <activity android:name=".OfiarowanieDzien30" />
        <activity android:name=".OfiarowanieDzien29" />
        <activity android:name=".OfiarowanieDzien28" />
        <activity android:name=".OfiarowanieDzien27" />
        <activity android:name=".OfiarowanieDzien26" />
        <activity android:name=".OfiarowanieDzien25" />
        <activity android:name=".OfiarowanieDzien24" />
        <activity android:name=".OfiarowanieDzien23" />
        <activity android:name=".OfiarowanieDzien22" />
        <activity android:name=".OfiarowanieDzien21" />
        <activity android:name=".OfiarowanieDzien20" />
        <activity android:name=".OfiarowanieDzien19" />
        <activity android:name=".OfiarowanieDzien18" />
        <activity android:name=".OfiarowanieDzien17" />
        <activity android:name=".OfiarowanieDzien16" />
        <activity android:name=".OfiarowanieDzien15" />
        <activity android:name=".OfiarowanieDzien14" />
        <activity android:name=".OfiarowanieDzien13" />
        <activity android:name=".OfiarowanieDzien12" />
        <activity android:name=".OfiarowanieDzien11" />
        <activity android:name=".OfiarowanieDzien10" />
        <activity android:name=".OfiarowanieDzien9" />
        <activity android:name=".OfiarowanieDzien8" />
        <activity android:name=".OfiarowanieDzien7" />
        <activity android:name=".OfiarowanieDzien6" />
        <activity android:name=".OfiarowanieDzien5" />
        <activity android:name=".OfiarowanieDzien4" />
        <activity android:name=".OfiarowanieDzien3" />
        <activity android:name=".OfiarowanieDzien2" />
        <activity android:name=".OfiarowanieDzien1" />
        <activity android:name=".OfiarowanieWstep" />
        <activity android:name=".Ofiarowanie" />
        <activity android:name=".NarodzenieDzien30" />
        <activity android:name=".NarodzenieDzien29" />
        <activity android:name=".NarodzenieDzien28" />
        <activity android:name=".NarodzenieDzien27" />
        <activity android:name=".NarodzenieDzien26" />
        <activity android:name=".NarodzenieDzien25" />
        <activity android:name=".NarodzenieDzien24" />
        <activity android:name=".NarodzenieDzien23" />
        <activity android:name=".NarodzenieDzien22" />
        <activity android:name=".NarodzenieDzien21" />
        <activity android:name=".NarodzenieDzien20" />
        <activity android:name=".NarodzenieDzien19" />
        <activity android:name=".NarodzenieDzien18" />
        <activity android:name=".NarodzenieDzien17" />
        <activity android:name=".NarodzenieDzien16" />
        <activity android:name=".NarodzenieDzien15" />
        <activity android:name=".NarodzenieDzien14" />
        <activity android:name=".NarodzenieDzien13" />
        <activity android:name=".NarodzenieDzien12" />
        <activity android:name=".NarodzenieDzien11" />
        <activity android:name=".NarodzenieDzien10" />
        <activity android:name=".NarodzenieDzien9" />
        <activity android:name=".NarodzenieDzien8" />
        <activity android:name=".NarodzenieDzien7" />
        <activity android:name=".NarodzenieDzien6" />
        <activity android:name=".NarodzenieDzien5" />
        <activity android:name=".NarodzenieDzien4" />
        <activity android:name=".NarodzenieDzien3" />
        <activity android:name=".NarodzenieDzien2" />
        <activity android:name=".NarodzenieDzien1" />
        <activity android:name=".NarodzenieWstep" />
        <activity android:name=".NawiedzenieWstep" />
        <activity android:name=".Narodzenie" />
        <activity android:name=".NawiedzenieDzien30" />
        <activity android:name=".NawiedzenieDzien29" />
        <activity android:name=".NawiedzenieDzien28" />
        <activity android:name=".NawiedzenieDzien27" />
        <activity android:name=".NawiedzenieDzien26" />
        <activity android:name=".NawiedzenieDzien25" />
        <activity android:name=".NawiedzenieDzien24" />
        <activity android:name=".NawiedzenieDzien23" />
        <activity android:name=".NawiedzenieDzien22" />
        <activity android:name=".NawiedzenieDzien21" />
        <activity android:name=".NawiedzenieDzien20" />
        <activity android:name=".NawiedzenieDzien19" />
        <activity
                android:name=".NawiedzenieDzien18"
                android:label="@string/title_activity_nawiedzenie_dzien18"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NawiedzenieDzien17" />
        <activity android:name=".NawiedzenieDzien16" />
        <activity android:name=".NawiedzenieDzien15" />
        <activity android:name=".NawiedzenieDzien14" />
        <activity android:name=".NawiedzenieDzien13" />
        <activity android:name=".NawiedzenieDzien12" />
        <activity android:name=".NawiedzenieDzien11" />
        <activity android:name=".NawiedzenieDzien10" />
        <activity android:name=".NawiedzenieDzien9" />
        <activity android:name=".NawiedzenieDzien8" />
        <activity android:name=".NawiedzenieDzien7" />
        <activity android:name=".NawiedzenieDzien6" />
        <activity android:name=".NawiedzenieDzien5" />
        <activity android:name=".NawiedzenieDzien4" />
        <activity android:name=".NawiedzenieDzien3" />
        <activity android:name=".NawiedzenieDzien2" />
        <activity android:name=".NawiedzenieDzien1" />
        <activity android:name=".Nawiedzenie" />
        <activity android:name=".ZwiastowanieDzien30" />
        <activity android:name=".ZwiastowanieDzien29" />
        <activity android:name=".ZwiastowanieDzien28" />
        <activity android:name=".ZwiastowanieDzien27" />
        <activity android:name=".ZwiastowanieDzien26" />
        <activity android:name=".ZwiastowanieDzien25" />
        <activity android:name=".ZwiastowanieDzien24" />
        <activity android:name=".ZwiastowanieDzien23" />
        <activity android:name=".ZwiastowanieDzien22" />
        <activity android:name=".ZwiastowanieDzien21" />
        <activity android:name=".ZwiastowanieDzien20" />
        <activity android:name=".ZwiastowanieDzien19" />
        <activity android:name=".ZwiastowanieDzien18" />
        <activity android:name=".ZwiastowanieDzien17" />
        <activity android:name=".ZwiastowanieDzien16" />
        <activity android:name=".ZwiastowanieDzien15" />
        <activity android:name=".ZwiastowanieDzien14" />
        <activity android:name=".ZwiastowanieDzien13" />
        <activity android:name=".ZwiastowanieDzien12" />
        <activity android:name=".ZwiastowanieDzien11" />
        <activity android:name=".ZwiastowanieDzien10" />
        <activity android:name=".ZwiastowanieDzien9" />
        <activity android:name=".ZwiastowanieDzien8" />
        <activity android:name=".ZwiastowanieDzien7" />
        <activity android:name=".ZwiastowanieDzien6" />
        <activity android:name=".ZwiastowanieDzien5" />
        <activity android:name=".ZwiastowanieDzien4" />
        <activity android:name=".ZwiastowanieDzien3" />
        <activity android:name=".ZwiastowanieDzien2" />
        <activity android:name=".ZwiastowanieDzien1" />
        <activity android:name=".ZwiastowanieWstep" />
        <activity android:name=".Zwiastowanie" />
        <activity android:name=".Radosne" />
        <activity android:name=".Wprowadzenie" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>