<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="pl.diecezja.zr">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_round_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".NarodzenieWstep">
        </activity>
        <activity android:name=".NawiedzenieWstep">
        </activity>
        <activity android:name=".Narodzenie">
        </activity>
        <activity android:name=".NawiedzenieDzien30">
        </activity>
        <activity android:name=".NawiedzenieDzien29">
        </activity>
        <activity android:name=".NawiedzenieDzien28">
        </activity>
        <activity android:name=".NawiedzenieDzien27">
        </activity>
        <activity android:name=".NawiedzenieDzien26">
        </activity>
        <activity android:name=".NawiedzenieDzien25">
        </activity>
        <activity android:name=".NawiedzenieDzien24">
        </activity>
        <activity android:name=".NawiedzenieDzien23">
        </activity>
        <activity android:name=".NawiedzenieDzien22">
        </activity>
        <activity android:name=".NawiedzenieDzien21">
        </activity>
        <activity android:name=".NawiedzenieDzien20">
        </activity>
        <activity android:name=".NawiedzenieDzien19">
        </activity>
        <activity
                android:name=".NawiedzenieDzien18"
                android:label="@string/title_activity_nawiedzenie_dzien18"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".NawiedzenieDzien17">
        </activity>
        <activity android:name=".NawiedzenieDzien16">
        </activity>
        <activity android:name=".NawiedzenieDzien15">
        </activity>
        <activity android:name=".NawiedzenieDzien14">
        </activity>
        <activity android:name=".NawiedzenieDzien13">
        </activity>
        <activity android:name=".NawiedzenieDzien12">
        </activity>
        <activity android:name=".NawiedzenieDzien11">
        </activity>
        <activity android:name=".NawiedzenieDzien10">
        </activity>
        <activity android:name=".NawiedzenieDzien9">
        </activity>
        <activity android:name=".NawiedzenieDzien8">
        </activity>
        <activity android:name=".NawiedzenieDzien7">
        </activity>
        <activity android:name=".NawiedzenieDzien6">
        </activity>
        <activity android:name=".NawiedzenieDzien5">
        </activity>
        <activity android:name=".NawiedzenieDzien4">
        </activity>
        <activity android:name=".NawiedzenieDzien3">
        </activity>
        <activity android:name=".NawiedzenieDzien2">
        </activity>
        <activity android:name=".NawiedzenieDzien1">
        </activity>
        <activity android:name=".Nawiedzenie">
        </activity>
        <activity android:name=".ZwiastowanieDzien30">
        </activity>
        <activity android:name=".ZwiastowanieDzien29">
        </activity>
        <activity android:name=".ZwiastowanieDzien28">
        </activity>
        <activity android:name=".ZwiastowanieDzien27">
        </activity>
        <activity android:name=".ZwiastowanieDzien26">
        </activity>
        <activity android:name=".ZwiastowanieDzien25">
        </activity>
        <activity android:name=".ZwiastowanieDzien24">
        </activity>
        <activity android:name=".ZwiastowanieDzien23">
        </activity>
        <activity android:name=".ZwiastowanieDzien22">
        </activity>
        <activity android:name=".ZwiastowanieDzien21">
        </activity>
        <activity android:name=".ZwiastowanieDzien20">
        </activity>
        <activity android:name=".ZwiastowanieDzien19">
        </activity>
        <activity android:name=".ZwiastowanieDzien18">
        </activity>
        <activity android:name=".ZwiastowanieDzien17">
        </activity>
        <activity android:name=".ZwiastowanieDzien16">
        </activity>
        <activity android:name=".ZwiastowanieDzien15">
        </activity>
        <activity android:name=".ZwiastowanieDzien14">
        </activity>
        <activity android:name=".ZwiastowanieDzien13">
        </activity>
        <activity android:name=".ZwiastowanieDzien12">
        </activity>
        <activity android:name=".ZwiastowanieDzien11">
        </activity>
        <activity android:name=".ZwiastowanieDzien10">
        </activity>
        <activity android:name=".ZwiastowanieDzien9">
        </activity>
        <activity android:name=".ZwiastowanieDzien8">
        </activity>
        <activity android:name=".ZwiastowanieDzien7">
        </activity>
        <activity android:name=".ZwiastowanieDzien6">
        </activity>
        <activity android:name=".ZwiastowanieDzien5">
        </activity>
        <activity android:name=".ZwiastowanieDzien4">
        </activity>
        <activity android:name=".ZwiastowanieDzien3">
        </activity>
        <activity android:name=".ZwiastowanieDzien2">
        </activity>
        <activity android:name=".ZwiastowanieDzien1">
        </activity>
        <activity android:name=".ZwiastowanieWstep">
        </activity>
        <activity android:name=".Zwiastowanie">
        </activity>
        <activity android:name=".Radosne">
        </activity>
        <activity android:name=".Wprowadzenie">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>